.ExploreMeets {
}

.ExploreMeets-title {
  font-size: 3.5em;
  font-weight: 700;
  line-height: 2em;
}

.ExploreMeets-search-group {
}

.ExploreMeets-search__input {
}

.ExploreMeets-search__btn {
}

.ExploreMeets-matches {
  position: relative;
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 3em;
}

.ExploreMeets-matches::before {
  border-top: 1px solid #ccc;
  content: "";
  z-index: -1;
  width: 95%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.ExploreMeets-matches span {
  background: white;
  padding: 0 15px;
}
