.PostMeet__input--radio {
  display: inline block;
}
.block_hidden {
  display: none;
}
.block_visible {
  display: block;
}
.block__label {
  display: block;
}
.PostMeet__input--checkbox {
  margin-left: 20px;
}
.PostMeet__input--checkbox:hover{
  color: #12a45c;
 }