.Header {
  width: 100%;
  background: #23c781;
}

.nav {
}
.nav__list {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  margin: 0;
}

.nav__item {
  flex: 1 1 250px;
  display: block;
  list-style-type: none;
  margin: 0 auto;
  padding: 1.5em;
  font-size: 1.2em;
}
.nav__item a {
  color: white;
}
.nav__item:hover {
  background: #139571;
  cursor: pointer;
}
