.Meet {
  max-width: 680px;
  margin: 0 auto;
}

.Meet__title {
  text-align: left;
  padding: 0 32px;
}
.Meet__item {
  text-align: left;
  padding: 0 2em;
}

.Meet__item--info {
  color: #26b999;
}
.Meet__btn {
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 16px 0;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 2em;
  box-shadow: 0 10px 10px 0 rgba(8, 57, 96, 0.15);
  color: white;
  display: block;
  width: 250px;
}
.Meet__btn--attend {
  background-color: #1db6ef;
}
.Meet__btn--unattend {
  background-color: #ef1d40;
}
