.MeetItem {
  flex: 0 0 370px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 0 auto 1em auto;
  text-align: left;
}

.MeetItem__picture {
  display: block;
}

.MeetItem__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 400px;
}
.MeetItem__content {
  padding: 1em;
}

.MeetItem__info {
  min-height: 130px;
  max-height: 250px;
  margin-bottom: 1em;
  border-bottom: 1px lightgray solid;
}

.MeetItem__title {
  font-weight: 600;
  font-size: 1.4em;
}

.MeetItem__location {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 500;
  color: gray;
}

.MeetItem__datetime {
  font-size: 0.9em;
  font-weight: 300;
  height: 0;
  overflow: hidden;
  transition: opacity .4s linear;
}

.MeetItem__footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 0.9em;
  font-weight: 300;
  text-transform: uppercase;
}

.MeetItem__footer--apply {
}

.MeetItem__footer--days {
  color: #26b999;
}
