.Mission {
    background-color: #1c75bc;
    color: white;
    text-align: left;
}
.Mission-wrapper {
    background-image: url(https://jobbatical.com/dist/ff1173d35e5ee34741b361181d8109a1.svg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
.Mission-container {
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 5%;
    width: 45%;
}
.Mission-container a button{
    color: #1c75bc;
    padding: 13px 30px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 35px;
    margin-bottom: 35px;
}